
body {
  background-color: blue;
  margin: 0;
  padding: 0;
}

#Advertisement {
  position: absolute;
  top: 100px;
  left: 150px;
  width: 600px;
  padding: 10px;
  background-color: white;
}

#Advertisement p {
  font-family: Arial, sans-serif;
}

#Advertisement .span1 {
  font-style: italic;
  color: blue;
}

#Advertisement .span2 {
  font-style: italic;
  color: green;
}
