 body{
	font-family: Georgia, Garamond, Verdana, sans-serif ;
	background-color: white;
	font-size: 11pt;
	color: #404040;
}

h1 {
	text-align: center;
	font-size: 22pt;
	font-weight: bold;
	text-decoration: underline;
}

h2 {
	font-size: 18pt;
	font-family: Georgia, Garamond, Verdana, sans-serif;
	background-color: #F0F0F0;
	color: #A4A400; 
	text-decoration: underline;
}

p {
    margin-top: 0; 
}


.comments {
    background-color: #FFFFC8;
    font-style: italic; 
    padding: 10px; 
}


a {
    color: #A4A400; 
}


footer {
    font-family: monospace; 
}

comments {
	font-family: monospace;
}
